{%extends "home_layout.html"%}
{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Fields Side by Side - Grid Centered</title>
    <link rel='stylesheet' href="{{ url_for('static',filename='style/diabetics_style.css') }}">
</head>
<body>
    <h2 style="text-align:center; font-size: 30px; margin-top: 30px; margin-bottom: 10px; height: 10px;" >Prediction of diabetics</h2>

    <div class="form-wrapper">
        <form action="/predict_diabetics" method='post'>
            <div class="form-container">
                <div class="input-group">
                    <label for="Pregnencies">Pregnencies:</label>
                    <input type="text" id="Pregnencies" name="Pregnencies" placeholder="Number of Pregnencies">
                </div>
                <div class="input-group">
                    <label for="Glucose">Glucose:</label>
                    <input type="text" id="glucose" name="glucose" placeholder="Glucose levels  ">
                </div>
                <div class="input-group">
                  <label for="field1">Blood pressure:</label>
                  <input type="text" id="bp" name="bp" placeholder="in (mm HG)">
              </div>
              <div class="input-group">
                  <label for="field2">Skin Thickness:</label>
                  <input type="text" id="st" name="st" placeholder="in (mm)">
              </div>
              <div class="input-group">
                <label for="field2">Insulin:</label>
                <input type="text" id="in" name="in" placeholder="2-Hour serum insulin (mu U/ml)">
            </div>
            <div class="input-group">
                <label for="field2">BMI:</label>
                <input type="text" id="bmi" name="bmi" placeholder="in (kg/m2)">
            </div>
            <div class="input-group">
            <label for="field2">Diabetes pedigree function:</label>
            <input type="text" id="func" name="func" placeholder=" ">
        </div>
        <div class="input-group">
            <label for="field2">Age:</label>
            <input type="text" id="age" name="age" placeholder=" (years)">
        </div>
            </div>
            <div class="submit-btn">
                <input type="submit" value="Submit">
            </div>
            <p class="prediction">{{ prediction_text }} </p>
        </form>
    </div>
    <body>
        {%endblock%}
