{%extends "home_layout.html"%}
{%block content%}

<head>
    <link rel='stylesheet' href="{{ url_for('static',filename='style/style.css') }}">
  </head>
     
         
          
          
      
    
  
  
  
  <body>
    <div class="content">
    <h2 style="text-align:center; font-size: 30px; margin-top: 40px; margin-bottom: 30px; height: 40px;" >Welcome to the multiple disease predictor site</h2>
    <p  class="styled-paragraph">
        This app is designed to help you predict the likelihood of various diseases using 
        advanced machine learning models. Our goal is to provide accurate and timely predictions for critical conditions such as:
    </p>
    <ul class="styled-paragraph">
        <li><strong>Heart Disease</strong> – Evaluate your risk based on common health indicators like cholesterol levels, blood pressure, and more.</li>
        <li><strong>Stroke</strong> – Assess factors such as age, medical history, and lifestyle to predict the chances of a stroke.</li>
        <li><strong>Diabetes</strong> – Estimate your likelihood of developing diabetes by analyzing key parameters like glucose levels and BMI.</li>
    </ul>
    <p class="styled-paragraph">
        With our user-friendly interface, you can easily input your health data and receive a prediction almost instantly. 
        Our models are designed to be reliable and secure, ensuring your privacy at all times. Start by selecting a disease prediction model below:
    </p>
</div>
  
  
  
<body>
    {%endblock%}